<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'election/css/style.css' %}">
    <title>Formulaire</title>
</head>
<body>
    <form action="{% url 'sondage:vote' question.id }" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forLoop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forLoop.counter }}">{{ choice.choice_text }}</label>
        {% enfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>
</body>
</html>